<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="stylesheets/normalize.css">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="components/bootstrap/docs/assets/css/bootstrap.css">
        <script src="components/modernizr/modernizr.js"></script>
        <script src="components/webrtc/webrtc.io.js"></script>
    </head>
    <body>
       <div class="container-narrow">
        <h1>ddd</h1>
        <video id="local" class="flip" autoplay="true" controls></video>
        <video id="remote" autoplay="autoplay"></video>
        <div class="footer">
          <p>© Company 2013</p>
        </div>
      </div>

    </div>

        <script src="components/jquery/jquery.min.js"></script>
        <script src="components/bootstrap/docs/assets/js/bootstrap.min.js"></script>
        <script src="javascripts/main.js"></script>
    </body>
</html>

