<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Lottery Page</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="components/bootstrap/docs/assets/css/bootstrap.css">
  <script src="components/modernizr/modernizr.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>
<body>
  <div id="tweet"></div>
  <div class="hero-unit">
    <h2>Who is the lucky fan of <%= artist %>? </h2>
    
    <br>
    <h1 id="textmsg"></h1>
    <br>
    <img id="thumbnail" style="width: 50px; height: 50px;" src="">
    <p id="userid"> 
    </p>
   
    <p><a id="drawbtn" class="btn btn-primary btn-large">Draw</a></p>
    
  </div>

  <script>
    $("#drawbtn").on("click", function(){
      $.get("/lottery_api", {artist: "wilson100hong"}).done(function(data){
        
        var data = JSON.parse(data);
        console.log(data);
        if (data.phrase)
          $("#textmsg").text('\"' + data.phrase + '\"' );
        else
          $("#textmsg").text('\"' + data.text + '\"' );
          
        var tokens = data.created_at.split(" ");
        var theDate = "";
        for (var i = 0; i < tokens.length - 2; i++) {
          theDate = theDate + " " + (tokens[i].toString());
        }
        $("#userid").text("-- " + data.name + ", " + theDate);
        $("#thumbnail").attr("src", data.thumbnail);
      });
    });
  </script>
</body>
</html>
